body {
    background-color: #C42481;
    color: #eec40c;
    header{
        background-color: orange;
        color: rgb(3, 3, 241);
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }
    nav{
        font-size: 15px;
        font-weight: bold;
        background-color: white;
        }
    #hero{
        color: blue;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    #interests{
        color: red;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    main{
        h2{
            background-color: pink;
            color: blue;
        }
        p{
            color:#fbd100;
        }
        p.txt{
            font-size: 18px;
        }
        span.Need{
            font-weight: bold;
        }
        #links {
            color: rgb(0, 255, 17);
            font-weight: bold;
        }
        p.Q{
            color: rgb(0, 255, 17);
        }
    }
    footer{
        font-size: 12px;
        background-color: black;
        color: white;
    }
}

